#UserList {
    box-sizing: border-box;
    background-color: white;
}

#UserList .title {
    padding: 4px 8px;
    background-color: #ddd;
    color: black;
    font-weight: bold;
    font-size: 11pt;
}

#UserList .right {
    float: right;
}

#UserList .users {
    padding: 4px;
}

.me {
    color: blue;
}