#UserList.default {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    height: 20vh;
}

#UserList.default .title {
    box-sizing: border-box;
    padding: 0 8px;
    background-color: #ddd;
    color: black;
    font-weight: bold;
    font-size: 10pt;
    height: 36px;
    line-height: 36px;
}

#UserList.default .right {
    float: right;
}

#UserList.default .users {
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    height: calc( 20vh - 36px );
    overflow-x: hidden;
}

#UserList.default .me {
    color: blue;
}