#UserList {
    float: left;
    position: relative;
    box-sizing: border-box;
    background-color: #4d394b;
    width: 240px;
    height: 90vh;
    color: #ccc;
}

#UserList .title {
    box-sizing: border-box;
    padding: 0 4px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
}

#UserList .right {
    float: right;
}

#UserList .users {
    font-size: 11pt;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    height: calc( 90vh - 36px );
    overflow-x: hidden;
}

#UserList .me {
    color: white;
}